
:root {
    --color-1: #1F2328;
    --color-2: #656d76;
    --color-3: slategrey;
    --color-4: #7d8590;
    --color-5: #2f81f7;
    --color-6: #fff;
    --color-success: limegreen;
    --color-warn: orange;
    --color-error: red;
    --color-highlight: yellow;

    --color-background-primary: var(--color-6);
    --color-background-secondary: var(--color-6);
    --color-background-transparent: rgba(0, 0, 0, 0.2);
    --color-border: var(--color-4);
    --color-text-primary: var(--color-2);
    --color-text-secondary: var(--color-2);

    --box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    --margin-content-left: 20px;
}

html {
    font-family: system-ui,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    line-height: 1.5;
    color: var(--color-text-secondary);
    background-color: var(--color-background-secondary);
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 90px;
}

section {
    overflow: auto;
    background: var(--color-background-primary);
}

section.description {
    flex: 50%;
}

aside {
    flex: 30%;
    margin: 10px;
    padding: 20px;
}

span.back_to_top::after {
    content: "\2191";
    cursor: pointer;
}

span.back_to_index::after {
    content: "\2190";
    cursor: pointer;
}

span.copy::after {
    content: "\2702";
    cursor: pointer;
    margin-left: 20px;
}

span.copy:active::after {
    cursor: grab;
    content: "\2713";
}

code {
    border-radius: 25px;
}

span.copy:active {
    cursor: crosshair;
}

section.diagram {
    flex: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-1);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    overflow: scroll;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--color-background-primary);
    border-radius: 25px;
    max-width: 70%;
    position: relative;
    transition: all 1s ease-in-out;
}

h1, h2, h3 {
    flex: 100%;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-text-primary);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

h2 {
    margin-left: var(--margin-content-left);
}

h3 {
    margin-bottom: 10px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-text-primary);
}

.popup .close:hover {
    color: var(--color-text-secondary);
}

.popup .content {
    overflow: auto;
}

/*    Make Facts look like table*/
.factTable {
    display: table;
    margin: auto;
    padding: 15px;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

.factRow {
    display: table-row;
}

.factRowHead {
    display: table-header-group;
    font-weight: bold;
    border-bottom: 1px solid var(--color-border);
}

.factCell, .factRowHead {
    display: table-cell;
    padding: 3px 10px;
    border-bottom: 1px outset var(--color-border);
}

a, svg a text {
    text-decoration: none;
    color: var(--color-text-secondary);
}

svg {
    display: block;
}

input[type="range"] {
    display: block;
    margin-bottom: 0;
    margin-left: 35%;
    margin-top: 30px;
    height: 1px;
    width: 30%;
}

section {
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 50px;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: var(--margin-content-left);
}

section.success:hover {
    border: thin solid var(--color-success);;
}

section.warn:hover {
    border: thin solid var(--color-warn);;
}

section.error:hover {
    border: thin solid var(--color-error);;
}

/* highlight key facts (generated at runtime) */
span.highlight {
    border-radius: 15px;
    padding: 2px;
    color: var(--color-text-primary);
    background-color: var(--color-highlight);
}

/* highlight keywords (inline-block to allow first-letter styling) */
span.keyword {
    display: inline-block;
}

span.keyword::first-letter {
    font-size: larger;
    transform-style: flat ;
}

/* popup content sections */
div.content {
    margin-left: var(--margin-content-left);
}

h2.success:before, h3.success:before, a.success:before {
    content: "";
    padding-right: 3px;
    margin-right: 3px;
    background-color: var(--color-success);
}

h2.warn:before, h3.warn:before, a.warn:before {
    content: "";
    padding-right: 3px;
    margin-right: 3px;
    background-color: var(--color-warn);
}

h2.error:before, h3.error:before, a.error:before {
    content: "";
    padding-right: 3px;
    margin-right: 3px;
    background-color: var(--color-error);
}

/* Logo section - inspired by https://codepen.io/fossheim/pen/PooBwRa */
h1.logo {
    font-weight: 800;
    font-size: 6em;
    width: 2em;
    line-height: 0.9em;
    margin-left: auto;
    margin-right: auto;
    background: #CA4246;
    background: conic-gradient(
            #CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logo-animation-rev 0.5s ease forwards;
    cursor: pointer;
}

/* Add animation on hover. */
.logo:hover {
    animation: logo-animation 0.5s ease forwards;
}

/* Animation shown when hovering over the text. */
@keyframes logo-animation {
    0% {
        background-size: 57%;
        background-position: 0 0;
    }
    20% {
        background-size: 57%;
        background-position: 0 1em;
    }
    100% {
        background-size: 300%;
        background-position: -9em 1em;
    }
}

/* Animation shown when entering the page and after the hover animation. */
@keyframes logo-animation-rev {
    0% {
        background-size: 300%;
        background-position: -9em 1em;
    }
    20% {
        background-size: 57%;
        background-position: 0 1em;
    }
    100% {
        background-size: 57%;
        background-position: 0 0;
    }
}


/* Scenario dropdown menu */
div.dropdown {
    position: relative;
    display: inline-block;
}

label.dropdown {
    padding: 12px;
    font-size: x-small;
    border-bottom: inset;
    border-top: outset;
    cursor: pointer;
    margin-left: var(--margin-content-left);
    text-transform: uppercase;
}

label.dropdown::after {
    content: "\25BC";
    margin-left: 5px;
}

.dropdown-content {
    margin-left: var(--margin-content-left);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: var(--color-text-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: smaller;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
